* {
    margin: 0px;
    padding: 0px;
}

:root{
    --width:600px;
    --height:600px;
}

.pointer {
    cursor: pointer;
}

.flat-html5-player-wrapper {
    display: block;
    position: absolute;
    height: auto;
    width: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.flat-player {
    display: flex;
    flex-direction: column;
    height: var(--height);
    width: var(--width);
    
    overflow: hidden;
}

.flat-video-preview-wrapper {
  position: relative;
    
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.annot {
  position:absolute;
  
  width: 100%;
  height: 100%;
  z-index: 2;
  
}
.vi {
  position:absolute;
  width: 100%;
  height: 100%;
  
   
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flat-video-footer {
    height: 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #2e2e2e;
    color: white;
}

.flat-video-progressbar {
    width: 100%;
    height: 6px;
    background-color: white;
}
.flat-video-annotation-position {
    width: 100%;
    height: 6px;
    position: relative;
}

.flat-video-current-progress {
    height: 100%;
    width: 0%;
    background-color: orangered;
    /* transition: width 0.5s; */
}

.flat-video-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    flex: 1;
}

.flat-video-control-single {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    padding: 5px 15px;
    cursor: pointer;
}

.flat-video-control-single:focus {
    outline: none;
}

.flat-video-controls-left,
.flat-video-controls-right {
    display: flex;
}

.flat-video-volume-rocker {
    display: flex;
    align-items: center;
}

.flat-video-volume-progress {
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
}

.flat-video-volume-progress-current {
    width: 30%;
    height: 100%;
    border-radius: 5px;
    background-color: orangered;
}

.flat-video-time-container {
    line-height: 2;
    font-size: small;
    margin-right: 20px;
    align-items: center;
    display: flex;
}
.fullscreen-wrapper {
  width: 100%;
  height: 100%;
  background: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}